.header {
    position:fixed;
    top:0;
    background-color: #FFFFFF;
    width: 100%;
    @media all and (min-width:768px){
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}
.image-link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    @media all and (min-width:768px) {
        display: flex;
        display: inline-block;
        margin: 20px 20px 20px 30px;
        }
}
.nav {
    text-align: center;
}
.menu {
    margin: 10px 0 13px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    @media all and (min-width:768px) {
            margin-right: 20px;
        }
}
.menu-option {
    padding: 0 10px 0 10px;
    color: #4a4a4a;
    text-decoration: none;
    text-transform: uppercase;
    @media all and (min-width:768px) {
            display:inline-block;
            font-size: 14px;
}
}